<form [formGroup]="unimedForm">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
        <label for="codUnimed">Código Unimed</label>  
        
         <input id="codUnimed" type="text" size="5"
                formControlName="codUnimed" autocomplete="off"            
                maxlength="3" pInputText pKeyFilter="int">
         <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('codUnimed')"></p-message>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
        <label for="descricao">Descrição</label>
        
            <p-autoComplete formControlName="descricao" autocomplete="off"
                            [suggestions]="descUnimeds" [size]="30" [minLength]="1"
                            (completeMethod)="buscarUnimed($event)">
            </p-autoComplete>
        <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('descricao')"></p-message>                    
        </div>
    </div>
</form>