<form [formGroup]="formDadosBenef">

  <p-tabView [activeIndex]="abaCurrent" (onChange)="eventAbaCurrent($event)">
    <p-tabPanel header="Dados Beneficiário">
             
      <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
              <label for="nomeBenef">Nome Beneficiário</label>
              <input type="text" pInputText formControlName="nomeBenef" maxlength="120">                
          </div>            
      </div>
      <br>

      <p-pickList #pl [source]="listaUnimeds" [target]="listUniSelecionados" sourceHeader="Selecione Opcionais" filterBy="codUnimed,descricao"                  
                  targetHeader="Opcionais Selecionados" [responsive]="true" dragdrop="true">
        <ng-template let-unimed pTemplate="item">
            <div class="ui-helper-clearfix">                
                <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{unimed.codUnimed}} - {{unimed.descricao}}</div>
            </div>
        </ng-template>
      </p-pickList>
      <button type="button" pButton (click)="pl.resetFilter()" label="Limpar"></button>
      
      <br>
      <div style="text-align: center">
        <button type="button" pButton label="Próximo" (click)="eventBtnProximo(abaCurrent)"></button>        
      </div>            

    </p-tabPanel>

    <p-tabPanel header="Endereço">
            
      <div class="p-grid" formGroupName="endereco">
          <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
              <label for="nomeLogradouro">Nome Logradouro</label>
              <input type="text" pInputText formControlName="nomeLogradouro" maxlength="60">                
          </div>            
      </div>

      <workspace-apps-file-upload></workspace-apps-file-upload>

      <div style="text-align: center">
        <button style="margin: 20px" type="button" pButton label="Próximo" (click)="eventBtnProximo(abaCurrent)"></button>
        <button type="button" pButton label="Anterior" (click)="eventBtnAnterior()"></button>    
      </div>
    </p-tabPanel>

    <p-tabPanel header="Meio de Contato">
      
        <p-card>
            <div class="p-grid" formGroupName="meioContato">
                <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
                    <label for="tipoEndereco">Tipo Endereço</label>
                    <input type="text" pInputText formControlName="tipoEndereco" maxlength="60">                
                </div>

                <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
                    <label for="codTipoMeioContato">Tipo Contato</label>
                    <input type="text" pInputText formControlName="codTipoMeioContato" maxlength="60">                
                </div>

                <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
                    <label for="contato">Contato</label>
                    <input type="text" pInputText formControlName="contato" maxlength="60">                
                </div>

                <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
                  <button style="margin-top: 30px; width: 148px;" type="button" 
                          pButton icon="pi pi-plus-circle" label="Adicionar"
                          (click)="adicionarMeioContato()"></button>
                </div>
            </div>

            <p-table [columns]="colsGridMeioCont" [value]="listaGridMeioContato" *ngIf="listaGridMeioContato.length > 0"
                     [paginator]="true" [rows]="3" [responsive]="true" [first]="pagMeioContato">
                <ng-template pTemplate="caption">
                    Lista Meio de Contato
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns">
                        {{col.header}}
                      </th>
                      <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                      <td>{{rowData.tipoEndereco}}</td>
                      <td>{{rowData.tipoMeioContato}}</td>
                      <td>{{rowData.numeroContato}}</td>
                      <td style="text-align: center">
                          <button style="margin-right: 15px" type="button" 
                                  icon="pi pi-pencil" pButton (click)="alterarContatoSelecionado(rowData)"></button>
                          <button type="button" icon="pi pi-trash" pButton (click)="deleteMeioContato(rowData)"></button>
                      </td>
                    </tr>
                </ng-template>
            </p-table>
          </p-card>
      
    </p-tabPanel>
  </p-tabView>
</form>

<p-dialog header="Alterar Meio Contato" [(visible)]="exibeDialogMeioContato" modal="true" responsive="true" 
          blockScroll="true" [style]="{width: '850px', height: '400px'}" (onHide)="closeDialogMeioContato()">
    
    <form [formGroup]="formDialogMeioContato">      

      <div class="p-grid">
          <div class="p-col-2 p-md-6 p-lg-3">
              <label for="tipoEndereco">Tipo Endereço</label>
              <input type="text" pInputText formControlName="tipoEndereco" maxlength="60">                
          </div> 
      </div>

      <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-3">
              <label for="codTipoMeioContato">Tipo Contato</label>
              <input type="text" pInputText formControlName="codTipoMeioContato" maxlength="60">                
          </div> 
      </div>

      <div class="p-grid">
          <div class="p-col-12 p-md-6 p-lg-3">
              <label for="contato">Contato</label>
              <input type="text" pInputText formControlName="contato" maxlength="60">                
          </div> 
      </div>      
    </form>

    <p-footer>
        <div style="text-align: center">
          <button type="button" pButton icon="pi pi-check" label="Salvar" (click)="alterarMeioContato()"></button>          
        </div>
    </p-footer>
</p-dialog>

<p-confirmDialog #delMeioCont header="Deletar Meio Contato" icon="pi pi-exclamation-triangle">
    <p-footer>
        <div style="text-align: center">
          <button type="button" pButton icon="pi pi-times" label="Não" (click)="delMeioCont.reject()"></button>
          <button type="button" pButton icon="pi pi-check" label="Sim" (click)="delMeioCont.accept()"></button>
        </div>
    </p-footer>
</p-confirmDialog>