<div class="ui-g center-login">
    <div class="p-col-12 p-md-6 p-lg-3 size-panel">   
     <form [formGroup]="loginForm">
        <p-panel header="Login">
            <div class="p-grid">
                <div class="p-col-12 ui-fluid">
                  <p-message severity="error" text="Usuário ou senha invalidos." *ngIf="errorLogin"></p-message>
                </div>
            </div>
            <div class="p-grid">
              <div class="p-col-12 ui-fluid">
                <div class="ui-inputgroup">                  
                  <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
                  <input type="text" pInputText formControlName="codUsuario" placeholder="Usuário*" maxlength="20"/>                  
                </div>
                <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('codUsuario')"></p-message>
              </div>
              <div class="p-col-12 ui-fluid">                
                  <div class="ui-inputgroup">
                    <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
                    <input type="password" pInputText formControlName="senha" placeholder="Senha*" maxlength="8"/>
                  </div>
                  <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('senha')"></p-message>          
              </div>                          
              <div class="p-col-12 ui-fluid">      
                  <button pButton type="button" label="Entrar" (click)="login()"></button>
              </div>
            </div>                        
        </p-panel>
      </form>
    </div>
  </div>