@media screen and (min-width: 450px) {
    .size-panel {
        width: 450px;
        margin: 0 auto;
    }
}
.center-login {        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;
}