<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'apps/sabius-comercial/src/assets/img/logo_unimed4.png', width: 97, height: 53, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'apps/sabius-comercial/src/assets/img/unimed_icon.png', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="false"
  [mobileAsideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    
    <li class="nav-item d-md-down-none">      
      <a class="nav-link" href="#" *ngIf="user" >Usuário: {{user}}</a>
    </li>

    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" 
         aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false"
         (click)="rerirectLogout()">
        <!--<img src="apps/sabius-comercial/src/assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>-->
        <div style="margin: 10px;">
          <span><img style="width: 25px; height: 25px;" src="apps/sabius-comercial/src/assets/img/brand/logout.png"/> Sair</span>
        </div>
      </a>
    </li>    
  </ul>  
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <app-breadcrumb></app-breadcrumb>
      <!-- Breadcrumb Menu-->      
    </ol>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>  
</div>
<app-footer>
  <span>
    <!--<a href="https://www.unimedfortaleza.com.br/comprar-plano-de-saude?utm_source=google&utm_medium=cpc&utm_campaign=plano-mais-unimed-fone&utm_content=opcional&gclid=EAIaIQobChMIxo2hyu2E3wIVUIGRCh3JOwQBEAAYASAAEgLCd_D_BwE">www.unimedfortaleza.com.br</a>-->
    &copy; Unimed a sua melhor operadora de plano de saúde.</span>
  <span class="ml-auto"><img src="apps/sabius-comercial/src/assets/img/ans-unimed-logo-ans.png" title="ANS-nº 31.714-4"> </span>    
</app-footer>
