<form [formGroup]="filtroEmpresaform">
  <p-panel header="Filtro(s) da Pesquisa" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      
      <workspace-apps-unimed-prod></workspace-apps-unimed-prod>
      <workspace-apps-empresa></workspace-apps-empresa>

      <div style="margin-left: 8px">
        <div class="p-grid">
            <div class="p-col-8 p-md-6 p-lg-6 ui-fluid">
                <label for="codEmpresa">Razão Social</label>
                <input type="text" pInputText formControlName="razaoSocial" readonly="true">  
            </div>
            <div class="p-col-8 p-md-6 p-lg-6 ui-fluid">
                <label for="razaoSocial">Nome Fantasia</label>            
                <input class="uppercase" type="text" pInputText formControlName="nomeFantasia" readonly="true">                                
            </div>            
        </div>
      </div>      
      <div class="p-grid">
            <div class="p-col-12 p-md-12 p-lg-3 ui-fluid">
                <label for="opc">Opções</label><br>
                <table>
                    <tr>
                        <td> <p-radioButton name="cnpj" value="PF" label="CNPJ" formControlName="cnpj"></p-radioButton> </td>
                        <td> <p-inputMask formControlName="cnpj" mask="99.999.999/9999-99" characterPattern="[0-9]"></p-inputMask> </td>                    
                    </tr>
                    <tr>
                        <td> <p-radioButton name="cei" value="PJ" label="CEI" formControlName="cei"></p-radioButton> </td>
                        <td> <p-inputMask formControlName="cei" mask="99.999.999/9999-99" characterPattern="[0-9]"></p-inputMask> </td>                    
                    </tr>
                </table>                                                                                     
            </div>            
       </div>
       <br>       
       <div class="p-grid" style="margin-left:1px">            
            <div class="p-sm-2 ui-fluid" style="margin-right: 2%">
                <button type="button" pButton icon="pi pi-search" label="Pesquisar"></button>
            </div>
            <div class="p-sm-2 ui-fluid" style="margin-right: 2%">
                <button type="button" pButton icon="pi pi-plus-circle" label="Cadastrar"></button>
            </div>
            <div class="p-sm-2 ui-fluid" style="margin-right: 2%">
                <button type="button" pButton icon="fas fa-broom" label="Limpar"></button>
            </div>
       </div>
  </p-panel>
</form>