
<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-6"> 
      <p-chart type="bar" [data]="arrGraficBar" width="80vw" height="60vh"></p-chart>                  
    </div>    
</div>
<div class="ui-g">    
    <div class="ui-g-12 ui-md-6 ui-lg-6">      
      <p-chart type="doughnut" [data]="arrGraficDoughnut" width="40vw" height="40vh"></p-chart>
    </div>
</div>
<br>
<br>
<p-chart type="line" [data]="arrGraficLine" width="80vw" height="50vh"></p-chart>