<form [formGroup]="empresaForm">
  <div class="p-grid">
      <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
      <label for="codEmpresa">Código Empresa</label> 
               
          <input id="codEmpresa" type="text" size="5"
                  formControlName="codEmpresa" autocomplete="off"                
                  maxlength="6" pInputText pKeyFilter="int">
          <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('codEmpresa')"></p-message>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
      <label for="razaoSocial">Razão Social</label> 
          <p-autoComplete formControlName="razaoSocial" autocomplete="off"
                          [suggestions]="descEmpresa" [size]="30" [minLength]="1"
                          (completeMethod)="buscarEmpresa($event)" styleClass="uppercase">
          </p-autoComplete>
          <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('razaoSocial')"></p-message>
      </div>
  </div>
  
</form>