<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!--
  <p-fileUpload name="files" auto="false" showUploadButton="false" (onSelect)="dealWithFiles($event)"></p-fileUpload>
  <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="dealWithFiles($event)" auto="true"></p-fileUpload>
-->

<img [src]="url" height="200" *ngIf="imgURL">

<!--
  customUpload="true"
  auto="false"
-->
<!-- upload completo deu certo -->
<p-fileUpload url="http://localhost:8181/api/file/upload"
    name="file" mode="basic"
    (onBeforeSend)="onBeforeSendFile($event)" 
    (onUpload)="onUploadFile($event)" 
    (onError)="onErrorFile($event)" 
    (onBeforeUpload)="onBeforeUploadFoto($event)" 
    multiple="multiple"
    accept=".jpeg,.png,.jpg,.pdf"
    maxFileSize="1000000000"
    chooseLabel="Selecione"
    uploadLabel="Enviar" 
    cancelLabel="Cancelar">
</p-fileUpload>

<!-- segunda tentativa deu certo
<h3 class="first">Advanced</h3>
<p-fileUpload name="file" url="http://localhost:8181/api/file/upload" (onUpload)="onUpload($event)"
        multiple="multiple" accept="image/*" maxFileSize="1000000">
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>
-->

<!-- primeira tentativa não deu certo
<p-fileUpload
  name="myFile[]"
  maxFileSize="1000000000"
  customUpload="true" 
  auto="auto"
  (uploadHandler)="myUploader($event)" 
  (onUpload)="onUpload($event)" 
  (onBeforeSend)="onBeforeSend($event)"> 
  <ng-template pTemplate="content"> 
    <ul *ngIf="uploadedFiles.length"> 
      <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
    </ul>
  </ng-template>
</p-fileUpload>
-->