/*color panel*/
body .ui-panel .ui-panel-titlebar {
    border: 1px solid rgba(0, 128, 0, 0.767)!important;
    padding: 0.571em 1em;
    background-color: rgba(0, 128, 0, 0.767)!important;
    color: #ffffff;    
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
/*color panel*/

/*color button*/
.ui-button {
    margin: 0;
    color: #ffffff;
    background-color: rgba(0, 128, 0, 0.767)!important;
    border: 1px solid rgba(0, 128, 0, 0.767)!important;
    font-size: 14px;
    transition: background-color 0.2s;
}
.ui-button:hover {    
    background-color: rgba(0, 128, 0, 0.930)!important;
    border: 1px solid rgba(0, 128, 0, 0.930)!important;    
}
.ui-button:focus {    
    background-color: rgba(0, 128, 0, 0.930)!important;
    border: 1px solid rgba(0, 128, 0, 0.930)!important;    
}
.ui-button:active {    
    background-color: rgba(0, 128, 0, 0.767)!important;
    border: 1px solid rgba(0, 128, 0, 0.767)!important;    
}
/*color button*/

/*sidenav*/
.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0;
    color: #fff;
    background: rgb(2, 93, 2)!important;
}

/*icons-sidenav*/
.sidebar .nav-link .nav-icon {
    display: inline-block;
    width: 1.09375rem;
    margin: 0 0.5rem 0 0;
    font-size: 0.875rem;
    color: white!important;
    text-align: center;
}
/*icons-sidenav*/

/*botão-inferior-sidenav*/
@media (min-width: 992px) {
    .sidebar-minimized .sidebar .sidebar-minimizer::before {
        width: 100%;
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
        background-color: rgb(2, 72, 2)!important;
    }
}

@media (min-width: 992px) {
    .sidebar-minimized .sidebar .sidebar-minimizer {
        position: fixed;
        bottom: 0;
        width: 50px;
        height: 50px;
        background-color: rgb(2, 72, 2)!important;
    }
}
/*botão-inferior-sidenav*/

/*seleção de item principal*/
.sidebar .nav-link:hover {
    color: #fff;
    background: rgba(219, 222, 219, 0.31)!important;
}
/*seleção de item principal*/

/*sub-menu*/
.sidebar .nav-link.active {
    color: #fff;
    background: rgb(2, 72, 2)!important;
}

@media (min-width: 992px) {
    .sidebar-minimized .sidebar .nav-item:hover > .nav-link {
        background: rgb(2, 72, 2)!important;
    }
}

@media (min-width: 992px) {
    .sidebar-minimized .sidebar .nav-link:hover {
        width: 250px;
        background: rgb(2, 72, 2)!important;
    }
}

@media (min-width: 992px) {
    .sidebar-minimized .sidebar .nav-dropdown-items .nav-item .nav-link {
        width: 200px;
        background: rgb(2, 93, 2)!important;
    }
}

@media (min-width: 992px) {
    .sidebar-minimized .sidebar .nav-link {
        position: relative;
        padding-left: 0;
        margin: 0;
        white-space: nowrap;
        border-left: 0;
        background: rgb(2, 93, 2)!important;
    }
}
/*sub-menu*/
/*sidenav*/

.uppercase {
    text-transform: uppercase!important;
}

/*autocomplete*/
body .ui-autocomplete .ui-autocomplete-input {
    padding: 0.429em;
    text-transform: uppercase!important;
}
/*autocomplete*/

/*tabelas - cor rodapé*/
body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
    background-color: #ffffff!important;
    color: #ffffff;
    border: 1px solid #c8c8c8!important;
    padding: 0.571em 1em;
    text-align: center;
}
/*tabelas - cor rodapé*/

/*dialog - cor titlebar*/
body .ui-dialog .ui-dialog-titlebar {
    border: 1px solid rgb(0, 128, 0)!important;
    background-color: rgb(0, 128, 0)!important;
    color: #ffffff;
    padding: 1em;
    font-weight: 400;
    border-bottom: 0 none;
}
/*dialog - cor titlebar*/

/*fonte - sidebar*/
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 15px!important;
    font-weight: 400;
    line-height: 1.5;
    color: #23282c;
    text-align: left;
    background-color: #e4e5e6;
}
/*fonte - sidebar*/

/*fonte - title panel*/
body .ui-panel .ui-panel-titlebar .ui-panel-title {
    vertical-align: middle;
    font-weight: 600!important;
}
/*fonte - title panel*/
.uppercase {
    text-transform: uppercase;
}
/*opacidade - notificação*/
.toast {
    opacity: 1!important;
}
/*opacidade - notificação*/
/*fonte - title dialog*/
body .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    margin: 0;
    float: none;
    font-size: 15px;    
    font-weight: 600!important;
}
/*fonte - title dialog*/