<p-panel header="Lista de Empresas" [toggleable]="true" [style]="{'margin-bottom':'20px'}">

    <p-table [columns]="cols" [value]="empresas" selectionMode="single" [(selection)]="selectedEmpresa" 
             [responsive]="true" (onRowSelect)="rowSelect($event)" [paginator]="true" rows="10">

        <ng-template pTemplate="header" let-columns>
            <tr>                
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>                                
                <th>Ações</th>                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">                    
                    <div *ngIf="col.field !== 'dataCadastro' && col.field !== 'dataExclusao'" >
                        {{rowData[col.field]}}
                    </div>
                    <div *ngIf="col.field == 'dataCadastro'" >
                        {{rowData[col.field] | date: 'dd/MM/yyyy hh:mm:ss'}}
                    </div>
                    <div *ngIf="col.field == 'dataExclusao'" >
                        {{rowData[col.field] | date: 'dd/MM/yyyy hh:mm:ss'}}
                    </div>
                </td>

                <td style="text-align:center">                                        
                    <button style="margin-right: 15px" type="button" pButton icon="fas fa-trash-alt" (click)="exibirDialogMsgDelete(rowData)"></button>
                    <button type="button" pButton icon="fas fa-edit" (click)="exibirDialogMsgDelete(rowData)"></button>
                </td>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="summary" let-rowData>
            <div style="text-align:left">                
                <button type="button" pButton icon="pi pi-plus" target="_blank" (click)="gerarRelatorioEmpresa()" label="Gerar Relatório"></button>                
            </div>
        </ng-template>    
    </p-table>
</p-panel>

<p-dialog header="Cadastro Empresa" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" 
          [modal]="true" [closable]="true" [width]="300">
    <div class="ui-g ui-fluid" *ngIf="empresa">
        <div class="ui-g-4"><label for="codUnimed">Cód Unimed</label></div>
        <div class="ui-g-8"><input pInputText id="codUnimed" [(ngModel)]="empresa.codUnimed" /></div>
        
        <div class="ui-g-4"><label for="codEmpresa">Cód Empresa</label></div>
        <div class="ui-g-8"><input pInputText id="codEmpresa" [(ngModel)]="empresa.codEmpresa" /></div>
        
        <div class="ui-g-4"><label for="razaoSocial">Razão Social</label></div>
        <div class="ui-g-8"><input pInputText id="razaoSocial" [(ngModel)]="empresa.razaoSocial" /></div>
        
        <div class="ui-g-4"><label for="cnpj">CNPJ</label></div>
        <div class="ui-g-8"><input pInputText id="cnpj" [(ngModel)]="empresa.cnpj" /></div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="pi pi-times" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="pi pi-check" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Aviso" [(visible)]="dialogMsgDelete" [responsive]="true" showEffect="fade" [modal]="true" [closable]="true">
    <dir style="margin: 10px 25px 10px 0px">
        <p style="font-size: 15px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Deseja realmente deletar o registro?</p>    
    </dir>
    <p-footer>
        <div style="text-align: center">
            <button style="margin-right:10%" type="button" pButton icon="pi pi-times" (click)="eventoDialogMsgDelete('N')" label="Não"></button>
            <button type="button" pButton icon="pi pi-check" (click)="eventoDialogMsgDelete('S')" label="Sim"></button>
        </div>
    </p-footer>    
</p-dialog>