$simple-line-font-path:'node_modules/simple-line-icons/fonts/';
$simple-line-font-family: "simple-line-icons" !default;
$simple-line-icon-prefix: "icon-" !default;

@import "node_modules/simple-line-icons/scss/simple-line-icons";