
<workspace-apps-filtro-empresas></workspace-apps-filtro-empresas>

<form [formGroup]="cadEmpresaForm">     
 <p-panel header="Cadastro Empresa" [toggleable]="true" [style]="{'margin-bottom':'20px'}">

    <workspace-apps-unimed-prod (unimedFormEvent)="inicializaForm()"></workspace-apps-unimed-prod>    

    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
            <label for="codEmpresa">Código Empresa</label>
            <input type="text" pInputText formControlName="codEmpresa" maxlength="6" pKeyFilter="int">            
            <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('codEmpresa')"></p-message>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
            <label for="razaoSocial">Razão Social</label>            
            <input class="uppercase" uppercase type="text" pInputText formControlName="razaoSocial" [pKeyFilter]="filterRazSoc" maxlength="30">            
            <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('razaoSocial')"></p-message>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
            <label for="cnpj">CNPJ</label>            
            <p-inputMask formControlName="cnpj" mask="99.999.999/9999-99"
                         characterPattern="[0-9]"></p-inputMask>
            <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('cnpj')"></p-message>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
             <label for="dataCadastro">Data Cadastro</label>
             <p-calendar formControlName="dataCadastro" [locale]="pt" dateFormat="dd/mm/yy" 
                         showTime="true" hourFormat="24"></p-calendar>
             <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('dataCadastro')"></p-message>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3 ui-fluid">
             <label for="dataExclusao">Data Exclusão</label>
             <p-calendar formControlName="dataExclusao" [locale]="pt" dateFormat="dd/mm/yy" 
                         showTime="true" hourFormat="24"></p-calendar>
             <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('dataExclusao')"></p-message>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-3 ui-fluid">
            <label for="tipoPfPj">Tipo Pessoa</label><br>            
            <p-radioButton name="tipoPfPj" value="PF" label="Pessoa Física" formControlName="tipoPfPj"></p-radioButton><br>
            <p-radioButton name="tipoPfPj" value="PJ" label="Pessoa Jurídica" formControlName="tipoPfPj"></p-radioButton>
            <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('tipoPfPj')"></p-message>
        </div>
        <div class="p-col-12 p-md-12 p-lg-3 ui-fluid">
            <label for="tipoPorteEmpresa">Porte da Empresa</label><br>
            <p-dropdown [options]="tipoPorteEmp" formControlName="tipoPorteEmpresa" [style]="{'width':'250px'}"></p-dropdown>
            <p-message severity="error" text="Campo obrigatório." *ngIf="verificaCampo('tipoPorteEmpresa')"></p-message>
        </div>
    </div>
    <br>
    <div class="p-grid" style="margin-left: 1px">            
        <div class="p-sm-2 ui-fluid" style="margin-right: 2%">
            <button type="button" pButton icon="fas fa-save" (click)="salvar()" label="Salvar"></button>
        </div>
        <div class="p-sm-2 ui-fluid" style="margin-right: 2%">
            <button type="button" pButton icon="fas fa-broom" (click)="limpar()" label="Limpar"></button>
        </div>                
    </div>
 </p-panel>
</form>
<br>
<workspace-apps-tabela-cadastro-empresa></workspace-apps-tabela-cadastro-empresa>